<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Weather</title>
	<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
</head>
<body>
		
	<div
		id="app"
		class="weather_baner"
		v-bind:style="{ backgroundImage: 'url(' + city.img + ')' }"
	>

		<div class="overflow-container">
			<div class="box">

				<div v-if="loader" class="loader-container">
					<img src="image/loader.gif" alt="loader">
				</div>
				<!-- /.loader-container -->

				<div v-if="notify" class="notification-container">
					{{notify}}
				</div>
				<!-- /.notification-container -->

				<div v-if="!loader && !notify" class="weather-container">

					<div 
						class="left-block"
						v-bind:style="{ backgroundImage: 'url(' + city.img + ')' }"
					>
						<div class="condition-img">
							<img
								v-if="condition.icon"
								v-bind:src="condition.icon" alt="icon"
							>
						</div>
						<div class="condition-text">{{condition.main}}</div>
						<div class="location-and-date">{{city.name}} - {{date}}</div>
					</div>
					<!-- /.left-block -->

					<div class="right-block">
						<ul class="text">
							<li class="temp">{{tempInfo.temp}} °C</li>
							<li>Feels like: <span>{{tempInfo.feels_like}} °C</span></li>
							<li>Wind: <span>{{tempInfo.wind_speed}} m/s</span></li>
							<li>Humidity: <span>{{tempInfo.humidity}} %</span></li>
							<li>Cloudiness: <span>{{tempInfo.clouds}} %</span></li>
						</ul>
						<!-- /.text -->
						<div class="slides">
							
							<div class="slide" v-for="(day, index) in daysWeather" :key="day">
								<img v-bind:src="'http://openweathermap.org/img/w/' + day.weather[0].icon + '.png'">
								<div class="day">
									{{ getWeekDay(new Date(new Date().setDate(new Date().getDate() + index + 1))) }}
									{{ getDay(new Date(new Date().setDate(new Date().getDate() + index + 1))) }}
								</div>
								<div class="temp">{{Math.ceil(day.temp.min)}} °C</div>
								<div class="temp night">{{Math.ceil(day.temp.max)}} °C</div>
							</div>

						</div>
						<!-- /.slides -->
					</div>
					<!-- /.right-block -->

				</div>
				<!-- /.weather-container -->
			</div>
			<!-- /.box -->
		</div>
		<!-- /.overflow-container -->

	</div>
	<!-- #app .weather_baner -->

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<script src="weather.js"></script>
</body>
</html>